<h2>ユーザー</h2>

<% @users.each do |user| %>
 <p>
     <%= user.uid %>
     <%= user.pass %>
     <%= link_to 'delete', user, method: :delete %>
 </p>
<% end %>
<%= link_to "ログイン", tops_main_path %>

<%= link_to "新規登録", new_user_path %>
